.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}
button {
  display: block;
}
.gallery {
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr ;
  text-align: -webkit-center;
  row-gap: 15px;
}
.card,.blurCard{
  width:200px;
  height:249.93px;
  box-shadow: 1px 1px 8px grey;
  padding: 0px;
  border-radius: 3px;
  background-size: cover;
}
.blurCard{
  backdrop-filter: blur(3px);
  display: grid;
  background-color: #ffffff54;
}
.description{
  display: inline-block;
  font-weight: bolder;
  position: relative;
  align-self: center;
}